* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto+Slab:wght@500&family=Rufina:wght@700&display=swap');

$dark-green: #224F34;
$medium-green: #267D49;
$light-green: #C2EFD4;
$active-green: #10FF70;
$dark-black: #373737;
$light-black: #454545; 
$white: #ffffff;




